html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

header{
    padding:10px;
}

body{
    margin:0;
    padding:0;
    height:100%;
    background-color:#B20000;
}

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

h1{
    color: WHITE;
    text-align: center;
    text-decoration: underline;
}

a{
    a:visited text-decoration: none; color:green;
    a:hover text-decoration: none; color:green;
    a:focus text-decoration: none; color:green;
    a:hover, a:active text-decoration: none; color:green;
    font-size: 125%;
    font-weight: bold;
    color:WHITE;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

ul li { display: inline;
    padding: .1em;
    margin: 0,1,0,1;
}

#ulFooter li{
    color:BLACK;
}

#findStore{
    text-align: center;
}

footer{
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    background-color: #FF5050;
}